.side-menu:not(.gradient-bg){
    background-color: #dda73d;
}

/* ===================================
   Stats
====================================== */

.stats-box {
    max-width: 220px;
    margin: 0 auto;
}
.serial-box {
    max-width: 193px;
    border-radius: 5px;
    height: 170px;
    background: #fff;
    text-align: center;
    cursor: pointer;
    -webkit-box-shadow: 0 0 5px rgba(127, 123, 123, 0.1);
    box-shadow: 0 0 5px rgba(127, 123, 123, 0.1);
    transition: ease-in-out 0.3s;
}
.serial-box:hover {
    background: #24c1dd;
    -webkit-box-shadow: 0 0 10px -2px rgba(127, 123, 123, 0.9);
    box-shadow: 0 0 10px -2px rgba(127, 123, 123, 0.9);
}
.serial-box i {
    color: #24c1dd;
    font-size: 40px;
    transform: translateY(0);
    transition: ease-in-out 0.3s;
}

.serial-box.yellow:hover {
    background: #f1c30f;
}
.serial-box.yellow i {
    color: #f1c30f;
}

.serial-box.green:hover {
    background: #84b813;
}
.serial-box.green i {
    color: #84b813;
}
.serial-box:hover i {
    transform: translateY(-10px);
}
.serial-box p {
    font-size: 30px;
    color: #666666;
    transition: ease-in-out 0.3s;
}
.serial-box h6 {
    color: #18191d;
    transition: ease-in-out 0.3s;
}
.serial-box:hover i, .serial-box:hover p, .serial-box:hover h6 {
    color: #fff;
    transition: ease-in-out 0.3s;
}
.main-title h5{
    font-weight: 400;
    margin-bottom: 1.5rem;
    text-transform: capitalize;
    color: #dda73d;
    font-size: large;
}

@media screen and (max-width: 767px) {
    .stats-box {
        margin: 0 auto;
    }
    .mb-xs-2rem {
        margin-bottom: 2rem !important;
    }
    .main-title h2{
        margin-bottom: 1.2rem;
    }
    .main-title h5{
        line-height: 1;
        margin-bottom: 1rem;
    }
}

/* ===================================
   About
====================================== */
.main-title {
    position: relative;
    margin-bottom: 4rem;
    text-align: center;
}
.main-title h5 {
    font-weight: 400;
    margin-bottom: 1.5rem;
    text-transform: capitalize;
    color: #dda73d;
}
.main-title h2 {
    font-weight: 300;
    color: #18191d;
    line-height: 1.2;
    max-width: 650px;
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}
.main-title p {
    max-width: 720px;
    margin: 0 auto;
}
/* ===================================
   Stats
====================================== */

.stats-box {
    max-width: 220px;
    margin: 0 auto;
}
.serial-box {
    max-width: 193px;
    border-radius: 5px;
    height: 170px;
    background: #fff;
    text-align: center;
    cursor: pointer;
    -webkit-box-shadow: 0 0 5px rgba(127, 123, 123, 0.1);
    box-shadow: 0 0 5px rgba(127, 123, 123, 0.1);
    transition: ease-in-out 0.3s;
}
.serial-box:hover {
    background: #24c1dd;
    -webkit-box-shadow: 0 0 10px -2px rgba(127, 123, 123, 0.9);
    box-shadow: 0 0 10px -2px rgba(127, 123, 123, 0.9);
}
.serial-box i {
    color: #24c1dd;
    font-size: 40px;
    transform: translateY(0);
    transition: ease-in-out 0.3s;
}

.serial-box.yellow:hover {
    background: #f1c30f;
}
.serial-box.yellow i {
    color: #f1c30f;
}

.serial-box.green:hover {
    background: #84b813;
}
.serial-box.green i {
    color: #84b813;
}
.serial-box:hover i {
    transform: translateY(-10px);
}
.serial-box p {
    font-size: 30px;
    color: #666666;
    transition: ease-in-out 0.3s;
}
.serial-box h6 {
    color: #18191d;
    transition: ease-in-out 0.3s;
}
.serial-box:hover i, .serial-box:hover p, .serial-box:hover h6 {
    color: #fff;
    transition: ease-in-out 0.3s;
}
.padding-counter{
    padding: 12rem 0;
}
.padding-phone{
    padding: 4.5rem 0;
}
.padding-s{
    padding: 2.5rem 0;
}
.text-jus{
    text-align: justify;
}
.text-cen{
    text-align: center;
}
.text-jus-cen{
    text-align: justify;
    text-align-last: center;
}

.text-custom-h5{
    color: #dda73d;
    padding: 10px 0px 10px 0px;
}

/* phone */

.absolute-img-wrap .right-img {
    right: 0;
}
.absolute-img-wrap .absolute-img {
    align-items: center;
    display: flex;
    justify-content: center;
}

/* laptop carousel */

.laptop {
    margin-top: 5rem;
}

.laptop-img {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

#laptop-slide {
    width: 483px;
    height: 302px;
    overflow: hidden;
    position: absolute;
    display: inline-block;
    top: 129px;
    right: 208px;
}

.short-text { display: none !important; }


@media screen and (max-width: 320px) {
    .short-text { display: inline-block !important; }
    .full-text { display: none !important; }
}  

